<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{css/style.css}" rel="stylesheet" >
    <title>CodeFellowShip</title>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
 <span th:if="${p != null}">   <h3>
       <p th:text="${user.username}"></p>
   </h3></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="http://localhost:8080" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a th:href="@{http://localhost:8080/profile}" class="nav-link">Your Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/feed">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/suggest">Suggest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/signup">Sign-up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/login">Log-In</a>
            </li>

        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="non-login">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent2">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="http://localhost:8080" class="nav-link">Home</a>
            </li>
                        <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/signup">Sign-up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/login">Log-In</a>
            </li>

        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="footer">

 <div style="margin-top: 30px;">
     &copy; Dima Zeklam, All rights reserved
    </div>
</nav>
</body>
</html>
