<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{css/style.css}" rel="stylesheet" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>Profile page</h1>
    <h3 th:text="${username}"></h3>
    <div th:insert="nav :: header"></div>

<!--<div class="class2">-->
<!--    <a th:href="@{/signup}">Signup</a>-->
<!--</div>-->
    <main style="display: grid; grid-template-columns: repeat(2, 50% 50%)">
        <div class="card" style="width: 20rem; margin: auto ; ">
            <img class="card-img-top" src="https://picsum.photos/200/300" alt="profile image" />
                <div class="card-body">
               <h5 class="card-title"><span th:text="${firstName} + ' ' + ${lastName}"></span></h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: <span th:text="${id}"></span></li>
               <li class="list-group-item">Username: <span th:text="${username}"></span></li>
               <li class="list-group-item">First Name: <span th:text="${firstName}"></span></li>
                 <li class="list-group-item">Last Name: <span th:text="${lastName}"></span></li>
                  <li class="list-group-item">Date Of Birth: <span th:text="${dateOfBirth}"></span></li>
                 <li class="list-group-item">Bio: <span th:text="${bio}"></span></li>
                 </ul>
            <form action="/profile" method="post">
                <label for="body">Post</label>
                <input type="text" name="body" id="body" class="form-control mb-4 col-4" >
                <input type="submit" value="add post" class="btn btn-primary btn-sm mb-3">
            </form>
             </div>
              </div>
    </main>
    <div th:each="onepost:${user.getPost()}">
        <h3 th:text="${onepost.getBody()}"></h3>
        <h3 th:text="${onepost.getCreatedAt()}"></h3>
    </div>
    </div>


</body>
</html>

